<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Default</title>

    <style>


    </style>
</head>
<body>
<audio controls autoplay>
    <source src="images/espana-cani.mp3" type="audio/mpeg">
</audio>


<div class="description">

    <ul>
        <div>
            <p>Escolheu o pacote Estudante por 2000 EUROS</p>
            <p>Este pacote inclui:</p>
            <ul>
                <li>4 touros</li>
                <img src="images/bull.jpeg"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>60 grades de Cerveja Sagres</li>
                <img src="images/sagres.png"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>2 Rolotes</li>
                <img src="images/roulote.jpeg"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>5º Touro</li>
                <img src="images/5touro.jpg"/>
            </ul>
        </div>
        <div>
            <ul>
                <li>Todas as licenças aprovadas</li>
                <img src="images/licenca.png"/>
            </ul>
        </div>


    </ul>
</div>

<div>
    <button>Compre</button>
</div>
</body>
</html>