p {
    border: aliceblue;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

header {
    color: white;
}

h1, li {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-style: oblique;
    font-size: larger;
    text-align: center;
    text-decoration-color: aquamarine;
}

form {
    size: 300px 300px;
}

body {
    background-image: url("img/DSCF0097.JPG");
    background-repeat: no-repeat;
    background-position: center;
    position: center;

}

#signup {
    display: block;
    width: 500px;
}

#leftcolumn {
    float:left;
    display:inline-block;
    width: 50%;
    height: 100%;
}

#rightcolumn {
    float:right;
    display: inline-block;
    height: 100%;
    width: 30%;
}

#buynow_button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    width: 300px;
    height: 400px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    alignment: center;
}

.button:hover {
    background-color: green;
}


.options{
    width: 100%;
    list-style-type: none;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100em;
    max-height: 100em;
    margin: auto;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.content{
    max-width: 500px;
    margin: auto;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.footer-text{
    font-size: 15px;
    color: white;
}


.footer{
    position: center;
    left: 0%;
    bottom: 0%;
    margin:0;
    width: 100%;
    background-color: grey;
    color: grey;
    text-align: center;
}

.background {
    padding: 500px 250px 250px 250px;
}

.jumbotron{
    background-attachment: fixed;
    opacity: 0.8;
}
