<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sucesso</title>
    <meta name="keywords" content="touradas, cerveja, diversão, ilha Terceira, Terceira, Açores, Azores">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<style>
    .background{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/15.jpg");
        position: relative;
        text-align: center;
        color: white;
    }
</style>
</head>
<body align="center">
<header>



</header>
<div class="background">
    <h1>Compra sucedida!</h1>
    <br>
    <h1>Obrigado por usar os nossos serviços</h1>

    <div align="center">
        <button>Voltar</button>
    </div>
</div>


<div class="footer text-muted">
    <p class="footer-text">XPRESS TEAM © 2018</p>
</div>
</body>
</html>